<div class="nested-fields">

    <div class="shipping-name">
    <%= f.collection_select :autofill_address, AutofillAddress.order(:key), :key, :key,
                              { :include_blank => true},
                              {:onchange => "TranscriptApplications_autofillAddress(this)"}%>

    <%= f.text_field :name, placeholder: "Enter name...", :style => 'text-transform:capitalize' %>
    </div>
    <%= f.text_field :address_line1, placeholder: "Enter address line 1...", :style => 'text-transform:capitalize' %>
    <%= f.text_field :address_line2, placeholder: "Enter address line 2...", :style => 'text-transform:capitalize' %>
    <%= f.text_field :city, placeholder: "Enter city...", :style => 'text-transform:capitalize'   %>
    <%= f.text_field :state_province_region, placeholder: "Enter state...", :style => 'text-transform:capitalize'  %>
    <%= f.collection_select :country_id, Country.order(:name), :country_id, :name, {:selected => 101}, {class: "country-select"}%>
  <%= f.text_field :zip_or_postal_code, placeholder: "Enter zip/postal code..." %>
    <%= f.select :no_of_sets, [['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10']],
                 { :label => "Number of sets to this address"},
                 { class:"sets-field", :onchange => "TranscriptApplications_updateShippingAdvice(this)"}%>

  <div class="remove-address">
  <%= link_to_remove_association "Remove address", f %>
	</div>
</div>
