
 <section class="ctrans-navbar ctrans-navbar--freeze ctrans-navbar--absolute ctrans-navbar--transparent ctrans-navbar--sticky ctrans-navbar--auto-collapse" id="menu-74">
        <div class="ctrans-navbar__section ctrans-section" style="background-color: #1673e6;">
            <div class="ctrans-section__container container">
                <div class="ctrans-navbar__container">
                    <div class="ctrans-navbar__column ctrans-navbar__column--s ctrans-navbar__brand">
                        <span class="ctrans-navbar__brand-link ctrans-brand ctrans-brand--inline">
                            <span class="ctrans-brand__logo"><a href="">
                            <img class="ctrans-navbar__brand-img ctrans-brand__img" src="assets/d.png" alt="Cleartranscripts"></a></span>
                            <span class="ctrans-brand__name"><a class="ctrans-brand__name text-white" style="color: white; white-space: nowrap;" href="">CLEAR TRANSCRIPTS</a></span>
                        </span>
                    </div>
                    <div class="ctrans-navbar__hamburger ctrans-hamburger text-white"><span class="ctrans-hamburger__line"></span></div>
                    <div class="ctrans-navbar__column ctrans-navbar__menu">
                        <nav class="ctrans-navbar__menu-box ctrans-navbar__menu-box--inline-right">
                            <div class="ctrans-navbar__column"><ul class="ctrans-navbar__items ctrans-navbar__items--right  ctrans-buttons ctrans-buttons--freeze ctrans-buttons--right btn-decorator ctrans-buttons--active"><li class="ctrans-navbar__item"><a class="ctrans-buttons__link btn text-white" href="one-page.html" style="color: white;">HOME</a></li> <li class="ctrans-navbar__item"><a class="ctrans-buttons__link btn text-white" href="slider.html" style="color: white;">GUIDELINES</a></li><li class="ctrans-navbar__item"><a class="ctrans-buttons__link btn text-white" href="video-background.html" style="color: white;">VIDEO</a></li> <li class="ctrans-navbar__item"><a class="ctrans-buttons__link btn text-white" href="blog.html" style="color: white;">BLOG</a></li></ul></div>
                            <div class="ctrans-navbar__column"><ul class="ctrans-navbar__items ctrans-navbar__items--right ctrans-buttons ctrans-buttons--freeze ctrans-buttons--right btn-inverse ctrans-buttons--active">
                                <li class="ctrans-navbar__item"><a class="ctrans-buttons__btn btn btn-default" href="" data-toggle="modal" data-target="#myModal">SIGN UP|SIGN IN</a></li></ul></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ctrans-box ctrans-section ctrans-section--relative ctrans-section--fixed-size ctrans-section--full-height ctrans-section--bg-adapted ctrans-parallax-background ctrans-after-navbar" id="header1-73" style="background-image: url(<%= asset_path 'home/ThinkstockPhotos-101138648.jpg' %>);">
            <div class="ctrans-box__magnet ctrans-box__magnet--sm-padding ctrans-box__magnet--center-left">
                <div class="ctrans-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
                <div class="ctrans-box__container ctrans-section__container container">
                    <div class="ctrans-box ctrans-box--stretched"><div class="ctrans-box__magnet ctrans-box__magnet--center-left">
                        <div class="row">
                            <hgroup>
                            <div class="ctrans-hero animated fadeInUp" style="text-align: center;">
                                <h1 class="ctrans-hero__text">P2P Logistics Services for University Transcripts</h1>
                            </div>
                            </hgroup>
    <div class="form-inline" style="background-color: white; padding: 1%;border-radius:10px;">
                                <%= form_tag("/new") do %>
                                <i style="padding-right: 2%; font-size: 20px;  " class="sg-icon" data-svg="magnifying-glass"><svg x="0px" y="0px" width="16" height="16" viewBox="0 0 16 16" data-reactid=".1"><path fill="#1673E6" d="M15.7,14.3l-4-4C12.5,9.3,13,7.9,13,6.5C13,2.9,10.1,0,6.5,0S0,2.9,0,6.5S2.9,13,6.5,13c1.4,0,2.8-0.5,3.8-1.3l4,4 c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C16.1,15.3,16.1,14.7,15.7,14.3z M6.5,11C4,11,2,9,2,6.5S4,2,6.5,2S11,4,11,6.5 S9,11,6.5,11z" data-reactid=".1.0"></path></svg></i>
<!--                                   <%= label_tag :University_location, nil, :class => "control-label" %>
 -->                                  <%= text_field_tag :location, "", :placeholder=>'Search city for home university', class: 'form-control autocomplete location-input'%>
                                  <%= submit_tag("APPLY", :class => "btn submit" ) %>
                                <% end %>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        <small class="promise"><em>Our services are best in industry</em></small>
                    </div>
                </div>
                </div>
        </div>
    </div></div>
</div>
<div class="ctrans-arrow ctrans-arrow--floating text-center">
    <div class="ctrans-section__container container">
        <a class="ctrans-arrow__link" href="#features1-75"><i class="glyphicon glyphicon-menu-down"></i></a>
    </div>
</div>
</div>
</section>


<script type="text/javascript">
    $(function() {
  var availableTags = [
"Bangalore",
"Chennai",
"Hyderabad",
"Mumbai",
"New Delhi",
"Ajmer",
"Anantapur",
"Aurangabad",
"Belgaum",
"Calicut",
"Chidambaram",
"Cochin",
"Coimbatore",
"Dharwad",
"Ghaziabad  ",
"Gulbarga",
"Kakinada",
"Kannur",
"Karaikudi",
"Kolhapur",
"Kottayam",
"Madurai",
"Mangalore",
"Manipal",
"Mysore",
"Nagpur",
"Nashik",
"Noida",
"Pune",
"Pondicherry",
"Salem",
"Shimoga",
"Thanjavur",
"Thiruvananthapuram",
"Tirupati",
"Tirunelveli",
"Trichy",
"Vellore",
"Vijayawada",
"Vishakapatnam",
"Warangal"
  ];
  
  $(".autocomplete").autocomplete({
    source: availableTags
  });
});
</script>

<style type="text/css">
.submit
{
    background: #1673e6;
    height: 55px;
    font-family: sans-serif;
    letter-spacing: 10px;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}

.form-location
{
    background-color: white;
}

        .ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}
.location-input
{
height: 60px;
margin: 1%
width: 30px important!;
text-decoration: none;
font-size: 200%;
width: 100%;
width: 910px !important;
}
</style>
