<section class="ctrans-box ctrans-section ctrans-section--relative ctrans-section--fixed-size ctrans-section--full-height ctrans-section--bg-adapted ctrans-parallax-background ctrans-after-navbar" id="header1-73" style="background-image: url(<%= asset_path 'ThinkstockPhotos-101138648.jpg' %>);">

   <div class="ctrans-box__magnet ctrans-box__magnet--sm-padding ctrans-box__magnet--center-left">
   <div class="ctrans-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
   <div class="ctrans-box__container ctrans-section__container container" style="width: auto;3">
      <div class="ctrans-box ctrans-box--stretched">
         <div class="ctrans-box__magnet ctrans-box__magnet--center-left" style="padding-top: 20%; padding-left: 5%; ">
            <hgroup>
               <div class="ctrans-hero animated fadeInUp" style="text-align: center;">
                  <h1 class="ctrans-hero__text">Order Transcripts Online Direct From Your University or College</h1>
               </div>
            </hgroup>
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8">
               <%= form_tag("/new") do %>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon"><span><i class="fa fa-search" aria-hidden="true" style="color: steelblue;"></i></span></span>
                    <input type="text" name="name" id="name" value="" placeholder="Select Education Institute..." class="form-control transparent-input autocomplete" aria-describedby="basic-addon"/>
                    <input type="hidden" name="university_id" id="university_id"/>
                    <div class="input-group-btn">
                       <%= submit_tag("APPLY", :class => "btn btn-default-apply" ) %>
                    </div>
                 </div>
              <% end %>
            </div>
         </div>
      </div>

   </div>
   <div class="ctrans-arrow ctrans-arrow--floating text-center">
      <div class="ctrans-section__container container">
         <a class="ctrans-arrow__link" href="#features1-75"><i class="glyphicon glyphicon-menu-down"></i></a>
      </div>
   </div>
</section>
<section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
   <div class="container">
      <div class="row">
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/google-slides-350x350-16.png"></div>
               <div class="caption">
                  <div>
                     <h3>TESTIMONIALS</h3>
                     <p>Just read what our fantastic users have to say about us, For us user-experience has always been of utmost importance and everything else as secondary.&nbsp;</p>
                  </div>
                  <p class="group"><a href="" class="btn btn-default">LEARN MORE</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/reminders-350x350-18.png"></div>
               <div class="caption">
                  <div>
                     <h3>ABOUT US</h3>
                     <p>ClearTranscripts is a simple, reliable and transparent service to obtain official transcripts from universities in India. It is our mission here to simplify the exchange of transcripts. Our Motto is Student First. We create shared value to students, Indian universities, universities abroad and employers by offering a simple and reliable transcripts delivery service. </p>
                  </div>
                  <p class="group"><a href="" class="btn btn-default">LEARN MORE</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/photos-350x350-95.png"></div>
               <div class="caption">
                  <div>
                     <h3>BLOG</h3>
                     <p>Some posts to get you started with this new-age easy as A-B-C P2P service. </p>
                  </div>
                  <p class="group"><a href="" class="btn btn-default">LEARN MORE</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/kindle-350x350-47.png"></div>
               <div class="caption">
                  <div>
                     <h3>USER FRIENDLY</h3>
                     <p>Getting University Transcripts has never been this easy and dead-simple. Just fill easy A-B-C form providing us with minimal information required and you are done. It don't get easier than this. </p>
                  </div>
                  <p class="group"><a href="" class="btn btn-default">LEARN MORE</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="ctrans-box ctrans-section ctrans-section--relative ctrans-section--fixed-size ctrans-section--full-height ctrans-section--bg-adapted ctrans-parallax-background" id="header1-76" style="background-image: url(<%= asset_path 'ThinkstockPhotos-488580160.jpg' %>);">
   <div class="ctrans-box__magnet ctrans-box__magnet--sm-padding" style="">
   <div class="ctrans-overlay" style="opacity: 0.5; background-color: rgb(41, 105, 176);"></div>
   <div class="ctrans-box__container ctrans-section__container container">
      <div class="ctrans-box ctrans-box--stretched">
         <div class="ctrans-box__magnet ctrans-box__magnet--center-left">
            <div class="row">
               <video width=auto height=auto controls>
                  <source src=<%= asset_path 'home/bunny.mp4' %> type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </div>
         </div>
      </div>
      <div class="ctrans-arrow ctrans-arrow--floating text-center">
         <div class="ctrans-section__container container">
            <a class="ctrans-arrow__link" href="#features1-77"><i class="glyphicon glyphicon-menu-down"></i></a>
         </div>
      </div>
   </div>
   </div>
</section>
<section class="ctrans-section" id="header3-109">
   <div class="ctrans-section__container container ctrans-section__container--first">
   <div class="ctrans-header ctrans-header--wysiwyg row">
      <div class="col-sm-8 col-sm-offset-2">
         <h3 class="ctrans-header__text">HOW IT WORKS:</h3>
         <p class="ctrans-header__subtext">Easy-to-use services to get transcripts</p>
      </div>
   </div>
   </div>

</section>
<section class="ctrans-section" id="content1-96">
   <div class="ctrans-section__container container ctrans-section__container--middle">
      <div class="row">
         <div class="ctrans-article ctrans-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p></p>
            <blockquote>
               <p><em></em></p>
               <ul>
                  <li><em>Make an application online through this website for our service, choose the number of transcript sets needed, enter recipient institution shipping address, choose shipping method and make the payment online.</em></li>
                  <li><em>UTMS System will send you a list of documents required for your University. Scan the documents and upload them by replying to the email. For documentation requirements, see this page.</em></li>
                  <li><em>Our expert document procurement team will prepare an application packet and will take it through the requisite workflow from College, University and finally sealed transcript envelope issued by the University will be sent to the recipient institution through reliable express courier delivery.</em></li>
               </ul>
               <p><em><br></em></p>
            </blockquote>
         </div>
      </div>
   </div>
</section>
<section class="content-2 col-4" id="features1-77" style="background-color: rgb(28, 73, 110);">
   <div class="container">
      <div class="row">
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/maps-350x350-26.png"></div>
               <div class="caption">
                  <div>
                     <h3>GOOGLE MAPS</h3>
                     <p></p>
                  </div>
                  <p class="group"><a href="" class="btn btn-info">VIEW</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/facebook-350x350-71.png"></div>
               <div class="caption">
                  <div>
                     <h3>FOLLOW ON FACEBOOK</h3>
                     <p></p>
                  </div>
                  <p class="group"><a href="" class="btn btn-info">LEARN MORE</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/bytafont-350x350-38.png"></div>
               <div class="caption">
                  <div>
                     <h3>BLOGS</h3>
                     <p> </p>
                  </div>
                  <p class="group"><a href="" class="btn btn-info">LEARN MORE</a></p>
               </div>
            </div>
         </div>
         <div>
            <div class="thumbnail">
               <div class="image"><img class="undefined" src="assets/youtube-350x350-69.png"></div>
               <div class="caption">
                  <div>
                     <h3>YOUTUBE CHANNEL</h3>
                     <p> </p>
                  </div>
                  <p class="group"><a href="" class="btn btn-info">LEARN MORE</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="content-2 col-3" id="features1-80" style="background-color: rgb(239, 239, 239);">
   <div class="container">
   <div class="row">
      <div>
         <div class="thumbnail">
            <div class="image"><img class="undefined" src="assets/anemone-350x350-67.png"></div>
            <div class="caption">
               <div>
                  <h3>USER-FRIENDLY</h3>
                  <p></p>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="thumbnail">
            <div class="image"><img class="undefined" src="assets/anemone-350x350-67.png"></div>
            <div class="caption">
               <div>
                  <h3>EASY-TO-APPLY</h3>
                  <p></p>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="thumbnail">
            <div class="image"><img class="undefined" src="assets/clear-350x350-99.png"></div>
            <div class="caption">
               <div>
                  <h3>RIGHT PRICING</h3>
                  <p></p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<section class="ctrans-section ctrans-section--relative ctrans-parallax-background" id="msg-box5-79" style="background-image: url();">
   <div class="ctrans-overlay" style="opacity: 0.5; background-color: rgb(0, 168, 133);"></div>
   <div class="ctrans-section__container ctrans-section__container--isolated container">
   <div class="row">
   <div class="ctrans-box ctrans-box--fixed ctrans-box--adapted">
      <div class="ctrans-box__magnet ctrans-box__magnet--top-right ctrans-section__left col-sm-6">
         <figure class="ctrans-figure ctrans-figure--adapted ctrans-figure--caption-inside-bottom ctrans-figure--full-width"><img class="ctrans-figure__img" src="<%= asset_path 'ThinkstockPhotos-153494898.jpg' %>"></figure>
      </div>
      <div class="ctrans-box__magnet ctrans-class-ctrans-box__magnet--center-left col-sm-6 ctrans-section__right">
         <div class="ctrans-section__container ctrans-section__container--middle">
            <div class="ctrans-header ctrans-header--auto-align ctrans-header--wysiwyg">
               <h3 class="ctrans-header__text">BASIC ABOUT GETTING TRANSCRIPTS </h3>
            </div>
         </div>
         <div class="ctrans-section__container ctrans-section__container--middle">
            <div class="ctrans-article ctrans-article--auto-align ctrans-article--wysiwyg">
               <p>Make an application online through this website for our service, choose the number of transcript sets needed, enter recipient institution shipping address, choose shipping method and make the payment online. And you're done...&nbsp;</p>
            </div>
         </div>
         <div class="ctrans-section__container">
            <div class="ctrans-buttons ctrans-buttons--auto-align btn-inverse"><a class="ctrans-buttons__btn btn btn-lg btn-default" href="">LEARN MORE</a></div>
         </div>
      </div>
   </div>
   </div>
   </div>

</section>
<!-- <section class="ctrans-section ctrans-section--relative ctrans-section--fixed-size" id="form1-89" style="background-color: rgb(239, 239, 239);">
   <div class="ctrans-section__container ctrans-section__container--std-padding container">
      <div class="row">
         <div class="col-sm-12">
            <div class="row">
               <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                  <div class="ctrans-header ctrans-header--center ctrans-header--std-padding">
                     <h2 class="ctrans-header__text">CONTACT FORM</h2>
                  </div>
                  <div data-form-alert="true"></div>
                  <form action="https://cleartranscripts.com/" method="post" data-form-title="CONTACT FORM">
                     <input type="hidden" value="" data-form-email="true">
                     <div class="form-group">
                        <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                     </div>
                     <div class="form-group">
                        <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                     </div>
                     <div class="form-group">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                     </div>
                     <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                     </div>
                     <div class="ctrans-buttons ctrans-buttons--right"><button type="submit" class="ctrans-buttons__btn btn btn-lg btn-warning">CONTACT US</button></div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
<section class="ctrans-section ctrans-section--relative ctrans-section--fixed-size" id="social-buttons1-87" style="background-color: rgb(247, 218, 100);">
   <div class="ctrans-section__container container">
      <div class="ctrans-header ctrans-header--inline row">
         <div class="col-sm-4">
            <h3 class="ctrans-header__text">SHARE THIS PAGE!</h3>
         </div>
         <div class="ctrans-social-icons col-sm-8">
            <div class="ctrans-social-likes social-likes_style-1" data-counters="true">
               <div class="ctrans-social-icons__icon social-likes__icon facebook socicon-bg-facebook" title="Share link on Facebook">
                  <i class="socicon socicon-facebook"></i>
               </div>
               <div class="ctrans-social-icons__icon social-likes__icon twitter socicon-bg-twitter" title="Share link on Twitter">
                  <i class="socicon socicon-twitter"></i>
               </div>
               <div class="ctrans-social-icons__icon social-likes__icon plusone socicon-bg-google" title="Share link on Google+">
                  <i class="socicon socicon-google"></i>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="ctrans-section ctrans-section--relative ctrans-section--fixed-size" id="testimonials1-88" style="background-color: rgb(255, 255, 255);">
   <div>
      <div class="ctrans-section__container ctrans-section__container--std-padding container">
         <div class="row">
            <div class="col-sm-12">
               <h2 class="ctrans-section__header">WHAT OUR FANTASTIC USERS SAY</h2>
               <ul class="ctrans-reviews ctrans-reviews--wysiwyg row">
                  <li class="ctrans-reviews__item col-sm-6 col-md-4">
                     <div class="ctrans-reviews__text">
                        <p class="ctrans-reviews__p">“No matter how hard the task is, ClearTranscripts Team is out there to get it done. They proved it. Thanks so much Team for your passion, commitment, dedication, time and effort to obtain my transcripts and mail them to their destination promptly. If anyone is out there worrying how to obtain the transcripts stop looking and this is the place to go. You guys are so awesome and wonderful!! With best wishes and warm regards.”</p>
                     </div>
                     <div class="ctrans-reviews__author ctrans-reviews__author--short">
                        <div class="ctrans-reviews__author-name">Mathew Thomas</div>
                        <div class="ctrans-reviews__author-bio">User</div>
                     </div>
                  </li>
                  <li class="ctrans-reviews__item col-sm-6 col-md-4">
                     <div class="ctrans-reviews__text">
                        <p class="ctrans-reviews__p">“I'm probably one of those few people who used this service from India even though I still live in the same city where I studied - simply because I don't have to worry about going to my college, university, courier service, etc. All I had to do was fill up a form & then send both scans and hardcopy to ClearTranscripts. I'm submitting this feedback after my transcripts have been sent to WES. Very convenient & easy to use service, well worth the money spent. Thank you!”</p>
                     </div>
                     <div class="ctrans-reviews__author ctrans-reviews__author--short">
                        <div class="ctrans-reviews__author-name">Bharath Kashyap</div>
                        <div class="ctrans-reviews__author-bio">FROM: India</div>
                     </div>
                  </li>
                  <li class="ctrans-reviews__item col-sm-6 col-md-4">
                     <div class="ctrans-reviews__text">
                        <p class="ctrans-reviews__p">“Clear Transcript is the best way of obtaining the official transcripts from a University. I would recommend this service who seeks hassle free, reliable way of processing their transcripts for immigration of educational purposes. However, clear Transcript team was able to courier the transcripts even before their scheduled date and I am really happy with their service.”</p>
                     </div>
                     <div class="ctrans-reviews__author ctrans-reviews__author--short">
                        <div class="ctrans-reviews__author-name">Suraj Goonawardhana</div>
                        <div class="ctrans-reviews__author-bio">FROM: Srilanka</div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>

<script type="text/javascript">

$("#name").autocomplete({
source: function( request, response ) {
    $.ajax( {
      url: "/transcript_applications/institute_names",
      dataType: "jsonp",
      data: {
        term: request.term
      },
      success: function( data ) {
        response( data );
      }
    } );
  },
  minLength: 2,
  select: function( event, ui ) {
    //log( "Selected: " + ui.item.value + " aka " + ui.item.id );
    document.getElementById('university_id').value = ui.item.id;
    document.getElementById('name').value = ui.item.value;
  }
} );
</script>
<style type="text/css">
.ui-autocomplete-loading {
  background: white url(<%= asset_path "ui-anim_basic_16x16.gif"%>) right center no-repeat;
}
.submit
{
background: #1673e6;
height: 55px;
font-family: sans-serif;
letter-spacing: 10px;
padding-left: 3%;
padding-right: 3%;
border-radius: 10px;
}
.form-location
{
background-color: white;
}
.ui-autocomplete {
position: absolute;
z-index: 1000;
cursor: default;
padding: 0;
margin-top: 2px;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
background-color: #DDD;
}
.ui-helper-hidden-accessible {
display: none;
}
.location-input
{
height: 60px;
margin: 1%;
width: 30px important!;
text-decoration: none;
font-size: 200%;
width: 100%;
width: 800px !important;
}
</style>

<style>
input.apply-now
{
text-align: center;
margin-left: 45%;
font-size: 150%;
background-color: orange;
}
#dark-select .chzn-container .chzn-results li {
color: #999999;
}
#dark-select .chzn-container .chzn-drop, .chzn-container-single .chzn-single {
background-color: #252525;
color: #999999;
}
/* Some IE 7-9 fun with this next one - filter likes to override background */
#dark-select .chzn-container-single .chzn-single {
background-color: #000000;
background-image: none;
background: #000000 none top left no-repeat;
filter: none;
border: none;
display: block;
height: 30px;
}
#dark-select .chzn-container .chzn-drop {
border: 1px solid #121212;
}
#dark-select .chzn-container-single .chzn-single div {
background-image: -webkit-gradient(linear, left bottom, left top,
color-stop(0, #333333), color-stop(0.6, #121212));
background-image: -webkit-linear-gradient(center bottom, #333333 0%, #121212 60%);
background-image: -moz-linear-gradient(center bottom, #333333 0%, #121212 60%);
background-image: -o-linear-gradient(bottom, #333333 0%, #121212 60%);
background-image: -ms-linear-gradient(top, #333333 0%,#121212 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333',
endColorstr='#121212',GradientType=0 );
background-image: linear-gradient(top, #333333 0%,#121212 60%);
border-left: 1px solid #252525;
}
#dark-select .chzn-container-active .chzn-single-with-drop {
box-shadow: none;
}
#dark-select .chzn-container .chzn-results .highlighted {
background: #333333;
color: #eeeeee;
}
#dark-select .chzn-container .chzn-results .no-results {
background: #333;
}
#dark-select .chzn-container .chzn-results li em {
background: none;
}
/* dark sprite overrides */
#dark-select .chzn-container-single .chzn-single abbr {
background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
}
#dark-select .chzn-container-single .chzn-single div b {
background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 0 1px;
}
#dark-select .chzn-container-single .chzn-search input,
#dark-select .chzn-rtl .chzn-search input {
background: #333 url('https://www.exratione.com/assets/chosen-sprite-dark.png') no-repeat 100% -22px;
color: #999999;
border: 1px solid #555555;
}
#dark-select .chzn-container-multi .chzn-choices .search-choice .search-choice-close {
background: url('https://www.exratione.com/assets/chosen-sprite-dark.png') right top no-repeat;
}
</style>
<style>
.form-group {
margin-top:15px;
margin-bottom:15px;
display:flex;
}
#search-for-links-input {
border-radius:4px 0px 0px 4px;
}
.btn.btn-default-apply {
color:#ffffff;
background-color:steelblue;
background-image:linear-gradient(to bottom, steelblue, steelblue);
border-color:steelblue steelblue steelblue;
border-radius:0px 4px 4px 0px;
margin-bottom:-1px;
margin-top:-1px;
}
.btn.btn-default-apply:hover {
color:#ffffff;
background-color:orange;
background-image:linear-gradient(to bottom, orange, orange);
border-color:orange orange orange;
border-radius:0px 4px 4px 0px;
}
.search-form {
margin:40px 5px;
font:normal 12px sans-serif;
box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.search-form div.input-group-addon {
background:#fff;
color:#80A3BD;
border-bottom-left-radius:2px;
border-top-left-radius:2px;
border:1px solid #b6c3cd;
border-right:0;
}
.search-form .input-group input {
background-color:#ffffff;
box-shadow:none;
color:#4E565C;
outline:none;
border:1px solid #b6c3cd;
border-right:0;
border-left:0;
}
.search-form div.input-group-btn button {
border-bottom-right-radius:2px;
border-top-right-radius:2px;
background:#6caee0;
box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
color:#ffffff;
border-color:#6caee0;
outline:none;
opacity:0.9;
}
.search-form div.input-group-btn button:hover {
opacity:1;
}
.search-form div.input-group-btn button:focus:active {
background-color:steelblue;
color:#ffffff;
outline:none;
}
.form-control-input
{
display: block;
width: 100%;
height: 40px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.text-white
{
color: white;
}

.btnn.btnn-default {
color:steelblue;
background-color:white;
border-color:steelblue steelblue steelblue;
padding: 5%;
}
.btnn.btnn-default:hover {
color:#ffffff;
background-color:orange;
background-image:linear-gradient(to bottom, orange, orange);
border-color:orange orange orange;
border-radius:0px 4px 4px 0px;
}
</style>