      <h4 class="text-right">Processing weeks: <span style="color: green"><%=  order_item.transcript_application.processingWeeks %></span></h4>
			<h4 class="text-right">University charge: <span style="color: green"><%= number_to_currency order_item.transcript_application.university_charge %></span></h4>
			<h4 class="text-right">Service charge: <span style="color: green"><%= number_to_currency order_item.transcript_application.service_charge %></span></h4>
			<h4 class="text-right">Service tax: <span style="color: green"><%= number_to_currency order_item.transcript_application.service_tax %></span></h4>
			<h4 class="text-right">Shipping charge: <span style="color: green"><%= number_to_currency order_item.transcript_application.shippingFee %></span></h4>
			<h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.transcript_application.total %></span></h4>
			<h4 class="text-right">test field: <span style="color: green"><%= order_item.transcript_application.quantity %></span></h4>
